<div class="container">
  <h1>Hola este es mi primer proyecto</h1>

  <h2>{{ welcome }}</h2>

  <ul>
    @for (task of tasks(); track task) {
      <li>
        {{ task }}
      </li>
    }
  </ul>

  <hr />

  <h2>
    {{ 'Hola'. repeat(4) }}
  </h2>
  <p>La suma de 3 + 3 es {{ 3 + 3 }}</p>
  <p>Hola soy {{ name() }} y mi edad es {{ age }}</p>

  <hr />

  <img [src]="person().avatar" alt="" />
  <input type="number" [value]="person().age" />
  <p>person: {{ person.name }}</p>
  <button [disabled]="disabled">Click me</button>

  <hr />
  <button (click)="clickHandler()">Click me</button>
  <button (dblclick)="clickHandler()">Double click me</button>
  <p>(Change)</p>
  <input type="number" [value]="person().age" (change)="changeHandler($event)" />
  <p>(Keydown)</p>
  <input type="text" [value]="person().name" (keydown.shift.t)="clickHandler()" />

  <hr />
  <h1>Signals</h1>
  <input type="text" [value]="name()" (change)="changeHandler($event)" />
  <p>name: {{ name() }}</p>

  <hr />
  <ul>
    <p>total: {{ tasks().length }}</p>
    @for (task of tasks(); track task) {
      <li>
        {{ task }}
      </li>
    }
  </ul>
  <hr />
  <input type="number" [value]="person().age" (change)="changeAge($event)" />
  <br />
  <div *ngIf="name() === 'gustavo'">
    SE muestra el contenido
  </div>
  <div *ngIf="person().name === 'gustavo' && person().age > 18; else menor">
    Spy gustavo y soy mayor de edad
  </div>
  <ng-template #menor>
    Spy gustavo y soy menor de edad
  </ng-template>
  <input type="text" [value]="person().name" (change)="changeName($event)" />
  <div [ngSwitch]="person().name">
    <div *ngSwitchCase="'nicolas'">nicolas</div>
    <div *ngSwitchCase="'julian'">julian</div>
    <div *ngSwitchCase="'ana'">ana</div>
    <div *ngSwitchCase="'valentin'">valentin</div>
    <div *ngSwitchDefault>No soy nadien</div>
  </div>
  <hr />
  <input type="color" [formControl]="colorCtrl" />
  <p>color: {{ colorCtrl.value }}</p>
  <svg>
    <g>
      <rect x="0" y="0" height="100" width="100" [attr.fill]="colorCtrl.value" />
    </g>
  </svg>
  <hr />
  <input type="number" [formControl]="widthCtrl" />
  <span class="box" [style.width.px]="widthCtrl.value"></span>
  <hr />
  <input type="text" [formControl]="nameCrtl" />
  <br />
  <span class="message-error" [class.show]="nameCrtl.invalid && nameCrtl.touched">Nombre invalido</span>
  <br />
  <input type="text" />
</div>
